{% extends 'AntWebBundle::layout.html.twig' %}

{% block content %}
    {% trans_default_domain "AntWebBundle" %}


    <div class="container" id="main">
        <div class="row">
            <h1 class="hr2 text-center"> {{ 'order.new'|trans({}, 'AntWebBundle') }}</h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group">
                    <div class="col-sm-3">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.name,  {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="alert-danger">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">

                        {{ form_label(form.surname, null, {'label_attr': {'class': 'control-label'}}) }}
                    </div>

                    <div class="col-sm-9">
                        {{ form_widget(form.surname,  {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="alert-danger">
                        {{ form_errors(form.surname) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        {{ form_label(form.phone, null, {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.phone,  {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="alert-danger">
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.email,  {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="alert-danger">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        {{ form_label(form.text, null, {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.text,  {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="alert-danger">
                        {{ form_errors(form.text) }}
                    </div>
                </div>
                <div class="form-group">
                    {#<div class="col-sm-3">#}
                        {#{{ form_label(form.agreement, 'Подтвердите согласие на обработку персональных данных', {'label_attr': {'class': 'control-label'}}) }}#}
                    {#</div>#}
                    <div class="col-sm-9 col-sm-offset-3">
                        {% set terms_link %}
                        <a title="{% trans %}Read the General Terms and Conditions{% endtrans %}" href="" data-toggle="modal" data-target="#myModal">
                            {% trans %}General Terms and Conditions{% endtrans %}
                        </a>
                        {% endset %}
                        {% set general_terms_and_conditions %}
                        {{ 'I have read and accept the %general_terms_and_conditions%.'|trans({ '%general_terms_and_conditions%': terms_link })|raw }}
                        {% endset %}
                        {{ form_widget(form.agreement,  {'attr': {'class': 'form-control'}}) }}
                        <label for="{{ form.agreement.vars.id }}">{{ general_terms_and_conditions|raw }}</label>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Соглашение об обработке персональных данных</h4>
                                    </div>
                                    <div class="modal-body">
                                            <p>Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.</p>
                                            <p>Все лица заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.</p>
                                            <p>Под персональными данными Гражданина понимается нижеуказанная информация: общая информация (Имя и адрес электронной почты), посетители сайта направляют свои персональные данные для получения доступа к бесплатному участию в конференции.</p>
                                            <p>Гражданин, принимая настоящее Соглашение, выражает свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.</p>
                                            <p>Гражданин гарантирует: информация им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if form_errors(form.agreement) %}
                        <div class="alert-danger row">
                            {{ form_errors(form.agreement) }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        {{ form_label(form.captcha, 'Введите код с картинки', {'label_attr': {'class': 'control-label'}}) }}
                    </div>
                    <div class="col-sm-3">

                        {{ form_widget(form.captcha,  {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
                {% if form_errors(form.captcha) %}
                    <div class="alert-danger row">
                        {{ form_errors(form.captcha) }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 text-center">
                        {{ form_widget(form.submit,  { 'label': 'Отправить заявку' , 'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


